doctype html
html.no-js(lang="en")
	head(charset="utf-8")
		title Smarter Comic Book Viewer
		link(rel="stylesheet", type="text/css", href="style.css")

	body
		#pageCont
			canvas#page

		img#loader(src="img/gears.svg")
		#waitMsg Drag & drop comic files here.

		#topUI.UI
			#fileTitle
		#bottomUI.UI
			#pageInfo
				span#pageNum 0
				|  / 
				span#pageTotal 0

		input#open(type="file")

		script(src="script.js")